<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Grade Curricular - DSM</title>
  <link rel="stylesheet" href="style.css" />
</head>

<div class="main-content">
  <div class="header">
    <img src="../../assets/adm/logo-fatec.png" alt="Fatec Jacareí" class="logo-fatec" />
  </div>
  <main>
    <main>
      <section class="grade dsm">
        <h2>Grade Curricular</h2>
        <ul>
          <li class="semestre" onclick="mostrarImagem('img1')">1º Semestre</li>
          <li class="semestre" onclick="mostrarImagem('img2')">2º Semestre</li>
          <li class="semestre" onclick="mostrarImagem('img3')">3º Semestre</li>
          <li class="semestre" onclick="mostrarImagem('img4')">4º Semestre</li>
          <li class="semestre" onclick="mostrarImagem('img5')">5º Semestre</li>
        </ul>
      </section>

      <div id="img1" class="imagem">
        <img src="../../assets/grade/1sem-dsm-grade.png" alt="Imagem 1" width="800">
      </div>
      <div id="img2" class="imagem">
        <img src="../../assets/grade/2sem-dsm-grade.jpg" alt="Imagem 2" width="800">
      </div>
      <div id="img3" class="imagem">
        <img src="../../assets/grade/3sem-dsm-grade.jpg" alt="Imagem 3" width="800">
      </div>
      <div id="img4" class="imagem">
        <img src="../../assets/grade/4sem-dsm-grade.jpg" alt="Imagem 4" width="800">
      </div>
      <div id="img5" class="imagem">
        <img src="../../assets/grade/5sem-dsm-grade.jpg" alt="Imagem 5" width="800">
      </div>


</div>
</div>

<script src="script.js"></script>

</body>

</html>