* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  header {
    background: #333;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  main {
    margin-left: 60px;
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    color: #a00;
    margin-bottom: 10px;
  }
  
  ul li {
    background: #e7e6e6;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    list-style: none;
  }
  
  .main-content {
    flex: 1;
    padding: 30px;
    position: relative;
  }
  
  .header {
    text-align: right;
  }
  
  .logo-fatec {
    width: 100px;
    height: auto;
  }

  .semestre {
    cursor: pointer;
    background-color: #e0e0e0;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }

  .imagem {
    display: none;
    margin: 10px;
    margin-left: 80px;
  }
  