<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Secretaria Acadêmica - Coordenador</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div class="container">
    <div class="main-content">

      <div class="header">
        <img src="../../assets/intermediário/logo-fatec.png" alt="Fatec Jacareí" class="logo-fatec" />
      </div>

      <!-- Área com os links desejados -->
      <div class="conteudo">
        <div class="secao-admin">
          <div class="titulo-linha">
  <a href="../grade/index.html" class="titulo-link">Grade Curricular</a>
  <img src="../../assets/intermediário/download.svg" alt="seta" class="seta" />
</div>

<div class="titulo-linha">
  <a href="../disciplinas/index.html" class="titulo-link">Disciplinas</a>
  <img src="../../assets/intermediário/download.svg" alt="seta" class="seta" />
</div>
        </div>
      </div>

    </div>
  </div>
</body>
</html>