<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Sistema de Horários</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    
        <main class="conteudo-principal">
            <header class="cabecalho">
                <h1>Sistema de Horários</h1>
                <img src="../../assets/adm/logo-fatec.png" alt="Logo Fatec" class="logo-fatec">
            </header>
            <div class="filtros">
                <button class="filtro" categoria="Curso">Curso ▸</button>
                <button class="filtro" categoria="Turno">Turno ▸</button>
                <button class="filtro" categoria="Matéria">Matéria ▸</button>
                <button class="filtro" categoria="Professor">Professor(a) ▸</button>
                <button class="filtro" categoria="Sala">Sala ▸</button>
            </div>
        </main>

        <section class="resultado">

        </section>
       
</body>

</html>