<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fatec Jacareí - Consulta de Horários</title>


  <link rel="stylesheet" href="style.css" />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
  <header>

    <div class="linha-topo">
      <img src="../../assets/cursos/govsp.png" alt="Governo SP" class="logo-sp" />
    </div>
    <div class="linha-logos">
      <div class="social-icons">
        <a href="https://www.instagram.com/fatec_jacarei/" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/100063695400749/" target="_blank" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.youtube.com/@fatecjacarei" target="_blank" aria-label="YouTube">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.flickr.com/photos/governosp/" target="_blank" aria-label="Flickr">
          <i class="fab fa-flickr"></i>
        </a>
        <a href="https://www.linkedin.com/company/governosp/" target="_blank" aria-label="LinkedIn">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.tiktok.com/@governosp" target="_blank" aria-label="TikTok">
          <i class="fab fa-tiktok"></i>
        </a>

        <span>/governosp</span>
      </div>
    </div>

    <div class="linha-logos">
      <div class="logos">
        <img src="../../assets/cursos/logo-fatec.png" alt="Logo Fatec" class="logo-fatec" />
        <img src="../../assets/cursos/logo-cps.png" alt="Logo CPS" class="logo-cps" />
      </div>


      <div class="search-box">
        <input type="text" placeholder="Pesquisar" />
        <button>🔍</button>
      </div>
    </div>


    <nav class="menu">
      <ul>
        <li><a href="#">Home</a></li>


        <li class="dropdown">
          <a href="#">Fatec ▾</a>
          <ul class="submenu">
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Missão</a></li>
          </ul>
        </li>


        <li class="dropdown">
          <a href="#">Acesso ▾</a>
          <ul class="submenu">
            <li><a href="../login/index.html">Corpo docente</a></li>
          </ul>
        </li>


        <li><a href="#">Cursos ▾</a></li>
        <li><a href="#">Biblioteca</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="titulo-cursos">
      <h2>Cursos</h2>
      <div class="linha-vermelha"></div>
    </div>

    <section class="cursos">
      <h2>Selecione o curso desejado</h2>
      <div class="cursos-container">
        <div class="curso-card">
         <img src="../../assets/cursos/meioambienteimagem.png"
              alt="Meio Ambiente e Recursos Hídricos">
            <div class="curso-info">
              <h3>Meio Ambiente e Recursos Hídricos</h3>
              <p>Período Noturno</p>
            </div>
        </div>

      <div class="curso-card">
        <img src="../../assets/cursos/geoimagem.png" alt="Geoprocessamento">
        <div class="curso-info">
          <h3>Geoprocessamento</h3>
          <p>Período Noturno</p>
        </div>
      </div>

      <div class="curso-card">
        <a href="../intermediário/index.html"><img src="../../assets/cursos/dsmimagem.png" alt="Desenvolvimento de Software Multiplataforma">
        <div class="curso-info">
          <h3>Desenvolvimento de<br>Software Multiplataforma</h3>
          <p>Período Noturno</p>
        </div>
      </a></div>
      </div>
    </section>


    <footer class="site-footer">
      <div class="footer-content">
        <div class="footer-section about">
          <h4>Fatec Jacareí</h4>
          <p>Formando profissionais de excelência para o mercado de trabalho, com ensino público, gratuito e de
            qualidade.</p>
        </div>

        <div class="footer-section links">
          <h4>Links Rápidos</h4>
          <p><a href="#">Home</a></p>
          <p><a href="#">Cursos</a></p>
          <p><a href="#">Área do Aluno</a></p>
          <p><a href="#">Contato</a></p>
        </div>

        <div class="footer-section contact">
          <h4>Contato</h4>
          <p>Email: fatec@gmail.com</p>
          <p>Telefone: (12) 3953-7926</p>
          <p>Endereço:R. Faria Lima, 155 - Jardim Santa Maria, Jacareí - SP, 12328-070</p>
        </div>
      </div>

      <div class="footer-bottom">
        <p>&copy; 2025 Fatec Jacareí | Desenvolvido por CodeMaster</p>
      </div>
    </footer>

    <script src="script.js"></script>

</body>

</html>